.login-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 76.5vh;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.login-card {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    padding: 1rem 2rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}